@charset "utf-8";
@font-face {
    font-family: Open Sans Semibold; /* Имя шрифта */
    src: url(fonts/open-sans-semibold.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans Light; /* Имя шрифта */
    src: url(fonts/open-sans-light.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans; /* Имя шрифта */
    src: url(fonts/open-sans.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans Bold; /* Имя шрифта */
    src: url(fonts/open-sans-bold.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans Italic; /* Имя шрифта */
    src: url(fonts/open-sans-italic.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans Extrabold; /* Имя шрифта */
    src: url(fonts/open-sans-extrabold.ttf); /* Путь к файлу со шрифтом */
}
* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;	
}
header{
	width: 100%;
	height: 785px;
	background-image: url(images/header.jpg);
	background-size: cover;	
}
nav.main{
	position: relative;
	width: 80%;
	height: 180px;
	margin: 0 auto;
    background: #ffffff;	
}
ul>li>a{
	color: white;
	text-decoration: none;
	font-family: Open Sans Semibold;
	font-size: 11pt;
}
nav.main ul{
    position: absolute;
    bottom: 0;	
	list-style: none;
	clear: both;
	height: 55px;
	width: 100%;
	background: #232020;
}
nav.main ul li{
	float: left;
	margin: 15px 15px 15px 20px;
    padding-bottom: 15px;	
}
nav.main ul li:hover{
	border-bottom: 3px solid #f17398;
}

/* Header Contacts */

div.header-contact{
	position:absolute;
	width:660px;
	height:90px;
	top:50px;
	left:340px;	
}
div.header-contact div{
	float:left;
	width: 215px;
    height: 100%;
    margin-right:5px;	
}
div.header-contact div img, div.header-contact div p, div.header-contact div span{
	float:left;
}
div.header-contact div img{
	padding-right: 5px;
}
div.header-contact div p{
	position:relative;
	color:#797f7f;
	font-family: Open Sans Light;
	font-size: 15px;
	width:170px;
    bottom:3px;   	
} 
div.header-contact div span{
	color:#2f343a;
	font-family: Open Sans;
	font-size: 14px;	
}

/* End Header Contacts */

/* Begin Header Aside */

header>aside{
	position: absolute;
	top: 360px;
	margin-left: 10%;
	width: 465px;
	height: 170px;
	background: #ffffff;
	padding:20px;	
	opacity:0.8;
} 
header>aside>h1{
	font-family: Open Sans;
	font-size: 22px;	
    margin-bottom: 30px;
    color: #484c51;	
}
header>aside>p{
	font-family: Open Sans Light;
	font-size: 16px;	
	float:left;
	color: #a2a6a6;
}
button{
	width: 118px;
	height: 35px;
	background: #f17398;
	border:none;
	border-bottom:3px solid #db577e;
	font:12px Open Sans Bold;
	color: #ffffff;
	transition: all 0.2s;
    outline:none;
	cursor:pointer;
}
header>aside+button{
	position: absolute;
	top:570px;
	margin-left: 10%;
}

/* End Header Aside */

/* Begin form of Search Categories */

#all-categories{
	position: absolute;
	top: 745px;
	margin-left: 10%;
}
#all-categories input[type="submit"] {
	background: url(images/icons/search-all.png) no-repeat #121111;
	width:40px;
	height:40px;
	border:0px;
}
#all-categories input[type="search"] {
	background: #232020;
	height:40px;
	width:250px;
    color: #ffffff;	
	font: 16px Open Sans Bold;
	padding:11px 11px 8px 25px;
	float: right;
	border: 0px;
}
placeholder    {
	color:#ffffff;
	}
input-placeholder {color:#ffffff;}
::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder  {color:#ffffff;}/* Firefox 19+ */
:-ms-input-placeholder    {color:#ffffff;}
/* End form of Search Categories */

/* Begin Main Form */

form#filter-search{
	width:90%;
	height:190px;
    display: flex;
	display: -webkit-flex;
    flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
    justify-content:center;
    -webkit-justify-content:center;
	margin-bottom:10px;
}

.select, .color, .adult{
  /* position: relative; */
    /* display: inline-block; */
    height: 30px;
    /* float: left; */
    margin: 10px 5px 50px 5px;
}
select {
	color:#b3b3b3;
	font: 15px Open Sans;
	padding: 0px 0px 0px 10px; 
}
select option{
	padding: 0px 0px 0px 10px; 
}
.select{
	width: 225px;
}
.color {
	width: 205px;	 
 }
.adult{
	width:180px;
} 
.color:after {
	 content: "APPLY" ;
	 padding: 7px;
	 color: #2f343a;
	 
  font: 10px Open Sans Semibold;
  position: relative;
  left:0px;
  top:-29px;
  float:right;
  z-index: 1;
  text-align: center;
  height: 28px;
  pointer-events: none;
  box-sizing: border-box; 
  background: #f1f2f2;
  border:1px solid #b3b3b3;
  border-bottom:none;
  border-top:none;
 }
.select:after {
  content: url(images/icons/arrow.png) ;  
  padding: 7px;
  font-size: 10px;
  position: relative;
  left:0px;
  top:-29px;
  float:right;
  z-index: 1;
  text-align: center;
  height: 28px;
  pointer-events: none;
  box-sizing: border-box; 
  background: #f1f2f2;
  border:1px solid #b3b3b3;
  border-bottom:none;
  border-top:none;
}

.select select, .color select, .adult input {
    height:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    border: 1px solid #b3b3b3;	
}
.adult input {
	width:90px;
	background:#ffffff;
	transition: all 0.3s;
}
.adult input.active{
	background: #2f343a;
	color: #ffffff;
	border:1px solid #2f343a;
} 
.color select{
	 width: 205px;
}
.select select{
      width: 225px;
}
label.select span, label.color span, label.adult span{
	float: left;
    font: 18px Open Sans Semibold, Arial; 	
	padding:12px;
	color: #2f343a;
}
 #filter-search button{
	 float: left;
	 position:relative;
	 top:52px;
	 width: 250px;
	 left: 10px;
 }
/* End Main Form */

article{
	float:left;
	width:100%;
	text-align: center;
	margin: 0 0 105px 0;
}
article h2{
	font: 25px Open Sans, Arial;
	color:#2f343a;
    margin: 50px 0 40px 0;	
}
article p{
	font: 18px Open Sans, Arial;
	color:#2f343a;
    width:71%;
margin-left: 14%;
}


#collage{
	width:1100px;
	height:520px;
	margin:0 auto;    	
}
#collage h2,.stock-photography h2{
	font: 30px Open Sans;
	color:#2f343a;
	text-align:center;
	margin: 0 0 60px 0;
}
#collage button{
	float:right;
	margin:10px 4.3em 105px 0;
}

/* Use Flexbox CSS */
div.flex-container{
	display: flex;
	display: -webkit-flex;
    flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
    justify-content:center;
    -webkit-justify-content:center;
    height: 400px;	
}
div.flex-element-odd {
	display: flex;
	display: -webkit-flex;
    flex-flow:column nowrap;
	-webkit-flex-flow:column nowrap;		
}
div.flex-element-even{
	display: flex;
	display: -webkit-flex;
    flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
}
 div img{
	padding:5px;
}
@keyframes movehover{
	0%{
		opacity:0;		
	}
	100%{
		opacity:0.6;
		width:93%;
	}
}
div.flex-element-odd img+span, div.flex-element-odd img+span+p{
	 position:relative;
	 left:6px;
	 background: #666666;
	 margin:0px;
	 padding:0px 0px 0px 10px;
	 color: #ffffff;
	 opacity:0.6;
	 width:93%;
	 animation: movehover 0.5s ease-in;
	 transition: all 0.5s;
}
div.flex-element-odd img+span{	 
	 bottom:23px;	
     font:15px Open Sans Italic;	 
 }
 div.flex-element-odd img+span+p{
   bottom:65px;
   font:17px Open Sans;
 }
div.flex-element-odd img+span+p.hover-out, div.flex-element-odd img+span.hover-out{
	opacity:0;
	left:200px;
}
/* End Flexbox CSS */

.stock-photography{
	float:left;
	display:block;
	height: 585px;
	width:100%;
}
.stock-photography article{
	background: url(images/stock-photo.jpg);
	background-size: cover;
	width:100%;
	height:490px;   	
}
.stock-photography h3, .stock-photography p, .stock-photography button{
	text-align:center;
	color:#ffffff;
}
.stock-photography h3{
	font: 50px Open Sans Extrabold;	
	margin:120px 0 57px 0;
}
.stock-photography p{
	font: 18px Open Sans;	
	margin:0 auto 62px auto;
}
/* Our customers */

section.our-customers{
    display:block;	
	float:left;
	width:100%;
	position:relative;
	top:60px;
}
#our-customers_flexbox{
	display: flex;
	display: -webkit-flex;
    flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
    justify-content:center;
    -webkit-justify-content:center;
    height:230px;	
}
.our-customers_answer{
	width: 500px;
}

.our-customers_answer p{
	width:400px;
	margin:0 5px 70px 5px;
	color:#adafb0;
	font:18px Open Sans Light;
	text-align:justify;
}
.our-customers_answer p:before {
    color: #ffffff;
    content: "“";
    background:#f17398;
    border-radius:1.8rem;
	display:block;
    width:3rem;
    height:3rem;
    text-align:center;	
    font-size: 4rem;    	
    margin-right: 1rem;    
	position:relative;
	right:55px;
	top:30px;
	line-height: 4.6rem;
	vertical-align: -.4em;
}
#second p:before {
       background:#3eaaf5;
}
.our-customers_answer span{
	color:#2f343a;
	font:15px Open Sans;
	text-transform:uppercase;
}
.our-customers_answer span+img{
	float:right;
	position:relative;
	right: 70px;
	bottom:30px
}
.our-sponsors{
	display:block;	
	height:200px;
	width:90%;
	float:left;	
	margin: 60px 5% 0 5%;
	position: relative;
}
.our-customers h2, .our-sponsors h2, .our-team h2{
	font: 30px Open Sans;
	color:#2f343a;
	text-align:center;	
} 
.our-customers h2{
	margin: 70px 0 0 0;
}
.our-sponsors h2, .our-team h2{
	margin: 110px 0 30px 0;
}
.our-sponsors_slider{
	width: 750px;
    overflow: hidden;
	position: relative;
	margin:0 auto;
	
}
ul.our-sponsors_slider_box{
	display:block;
	width: 9999px;
	list-style:none;	
	padding: 0 0 0 30px;
	transition: margin-left 250ms;	
}
ul.our-sponsors_slider_box li{
	display:inline-block;
}
#prev, #next{
	 position: absolute;
  top: 23px;
  padding: 0;  
   display: block;
   width:35px;
   height:35px;
   background-size:cover;
   outline: none;
   cursor:pointer;      
}
#prev{
	background: url(images/buttons/prev.jpg) no-repeat;
	left:0px;	
}
#next{
	background: url(images/buttons/next.jpg) no-repeat;
	right:0px;
}
ul.our-sponsors_slider_box img{
   height:75px;
  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */

  display: block;
}
.our-team{
	float:left;
	width:100%;
	height:550px;
}
.our-team_flexbox{
	display:flex;
	display:-webkit-flex;
	flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
    justify-content:center;
    -webkit-justify-content:center;    
}
.our-team_flexbox_elem{
	width:315px;
	margin-right:20px;
}
figcaption{
	font:30px Open Sans Semibold;
	padding-left:3px;
}
figure span{
	font:italic 16px Open Sans;
	color:#96979a;
}
.our-team_flexbox_elem p{
	font: 16px Open Sans Light;
	color:#706f6f;
	text-align:justify;
	margin:25px 0 40px 0;
	line-height:23px;
}
.social-icons{	
	position:relative;	
	float:left;
}
.social-icons img{	    
	padding-right:5px;
	width:47px;
	height:47px;	   	
}
.maps{
	float:left;
	width:100%;
	position:relative;
	top:200px;;
}