@font-face {
    font-family: Open Sans Semibold; /* Имя шрифта */
    src: url(fonts/open-sans-semibold.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans Light; /* Имя шрифта */
    src: url(fonts/open-sans-light.ttf); /* Путь к файлу со шрифтом */
	font-family: Open Sans; /* Имя шрифта */
    src: url(fonts/open-sans.ttf); /* Путь к файлу со шрифтом */
}
* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;	
}
header{
	width: 100%;
	height: 785px;
	background-image: url(images/header.jpg);
	background-size: cover;	
}
nav.main{
	position: relative;
	width: 1000px;
	height: 180px;
	margin: 0 auto;
    background: #ffffff;	
}
ul>li>a{
	color: white;
	text-decoration: none;
	font-family: Open Sans Semibold, Arial;
	font-size: 11pt;
}
nav.main ul{
    position: absolute;
    bottom: 0;	
	list-style: none;
	clear: both;
	height: 55px;
	width: 100%;
	background: #232020;
}
nav.main ul li{
	float: left;
	padding: 15px;	
}
nav.main ul li:hover{
	border-bottom: 3px solid #f17398;
}

/* Header Contacts */

div.header-contact{
	position:absolute;
	width:660px;
	height:90px;
	top:50px;
	left:340px;	
}
div.header-contact div{
	float:left;
	width: 215px;
    height: 100%;
    margin-right:5px;	
}
div.header-contact div img, div.header-contact div p, div.header-contact div span{
	float:left;
}
div.header-contact div img{
	padding-right: 5px;
}
div.header-contact div p{
	position:relative;
	color:#797f7f;
	font-family: Open Sans Light, Arial;
	font-size: 15px;
	width:170px;
    bottom:3px;   	
} 
div.header-contact div span{
	color:#2f343a;
	font-family: Open Sans, Arial;
	font-size: 14px;	
}
